header {
  width: 100%;
  color: #ffffff; /* White text color */
  background-color: #333333; /* Dark gray background color */
  font-family: Georgia, serif; /* Specify Georgia as the font, followed by a generic serif font as a fallback */

  .container {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    line-height: 2.5em;
  }

  ul,
  li,
  a {
    display: flex;
    align-items: center;
  }

  ul {
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #cccccc; /* Light gray link color */
    text-decoration: none;
    padding: 0 .5em;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 .5em;
  }
}

